<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Add New Member</title>
</head>
<body>
	<section layout:fragment="content"
		class="container d-flex h-75 justify-content-center align-items-center">
		<div class="card w-50" style="background-color: #A3CE81;">
			<div class="card-body">
				<h3 class="card-title">
					<i class="fa fa-user=plus">新入社員登録</i>
				</h3>
				<h4>追加</h4>
				<form action="#" th:action="@{/employee/register}"
					th:object="${emp}" method="POST">
					<input type="text" name="" th:field="*{name}" placeholder="名前" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{groupNo}" placeholder="グループNo" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{position}" placeholder="位置" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{mail}" placeholder="メール" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{password}" placeholder="位置" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{phoneNo}" placeholder="電話番号" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{hireDate}" placeholder="入社日" class="form-control mb-4 col-4"> 
					<input type="text" name="" th:field="*{address}" placeholder="住所" class="form-control mb-4 col-4">
					<button type="submit" class="btn" style="background-color: #4F8635;">登録</button>
				</form>
			</div>
		</div>
	</section>
</body>

</html>