<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Employee List</title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}">

<script th:src=@{/resources/js/jquery.min.js}></script>
<script th:src=@{/resources/js/popper.min.js}></script>
<script th:src=@{/resources/js/bootstrap.min.js}></script>
</head>
<body class="h-100">
	<section layout:fragment="content"
		class="container d-flex h-100 justify-content-center align-items-center">
		<div class="card-center" style="background-color: #A3CE81;">
			<div class="card-body">
				<form class="from-inline my-2 my-lg-0" th:action="@{/employee/list}" action="#">
					<div class="d-flex justify-content-between">
						<button type="button" class="btn-brand my-sm-0 "
							style="background-color: #4F8635;" data-toggle="modal"
							data-target="#registerModal">社員情報登録</button>
						<label class="col-2 mr-sm">名前:</label> <input type="search"
							name="name" class="form-control mr-sm-2 col-2">
						<button type="submit" class="btn col-2"
							style="background-color: #A3CE81;">検索</button>
					</div>
					<div class="table-responsive"
						th:if="${empList != null && !empList.isEmpty()}">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>名前</th>
									<th>電話番号</th>
									<th>メール</th>
									<th>入社日</th>
									<th>住所</th>
									<th>修正</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-success">
								<tr th:each="empInfo:${empList}">
									<td th:text="${empInfo.mail}"></td>
									<td th:text="${empInfo.name}"></td>
									<td th:text="${empInfo.phoneNo}"></td>
									<td th:text="${empInfo.hireDate}"></td>
									<td th:text="${empInfo.address}"></td>
									<td><a> <span th:href="@{/update/{empInfo.mail}}"
											class="btn">編集</span>
									</a></td>
								</tr>
							</tbody>
						</table>
						<div class="btn-toolbar" th:fragment="pagination" role="toolbar">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<nav aria-label="Pagination">
									<ul class="pagination justify-content-center">
										<li class="page-item btn-group mr-2" th:each="pageNumber : ${pageNumbers}">
											<a class="page-link" th:href="@{'/employee/page/' + ${pageNumber}}" th:text=${pageNumber}>
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="registerModal">
			<div class="card-body">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content" style="background-color: #A3CE81;">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title card-title">新入社員登録</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<form method="post" th:action="@{/employee/register}" action="#">
								<div class="form-group row">
									<label for="mail" class="col-3"> メール : </label> <input
										name="mail" id="mail" type="text" class="form-control col" />
								</div>
								<div class="form-group row">
									<label for="name" class="col-3"> 名前 : </label> <input
										name="name" id="name" type="text" class="form-control col"
										placeholder="Enter Name" />
								</div>
								<div class="form-group row">
									<label for="mail" class="col-3"> パスワード : </label> <input
										name="password" id="password" type="text"
										class="form-control col" />
								</div>
								<div class="form-group row">
									<label for="phoneNo" class="col-3"> 電話番号 : </label> <input
										name="phoneNo" id="phoneNo" type="text"
										class="form-control col" />
								</div>
								<div class="form-group row">
									<label for="hireDate" class="col-3"> 入社日 :</label> <input
										name="hireDate" id="hireDate" type="text"
										class="form-control col" />
								</div>
								<div class="form-group row">
									<label for="address" class="col-3"> 住所 : </label>
									<textarea name="address" id="address" class="form-control col"
										rows="3"></textarea>
								</div>
								<div class="form-group row">
									<label for="groupNo" class="col-3"> グループ :</label> <select
										name="groupNo" id="groupNo" class="form-control col">
										<option selected="selected">グループを洗濯ください。</option>
										<option value="1">グループ1</option>
										<option value="2">グループ2</option>
										<option value="3">グループ3</option>
										<option value="4">グループ4</option>
										<option value="5">グループ5</option>
									</select>
								</div>
								<div class="form-group row">
									<button type="submit" class="btn"
										style="background-color: #4F8635;">登録</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>