<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Employee List</title>
</head>
<body class="h-100">
	<section layout:fragment="content"
		class="container d-flex h-75 justify-content-center align-items-center">
		<div class="card w-85" style="background-color: #A3CE81;">
			<div class="card-body">
				<h3 class="card-title　container-fluid">
					<button th:href="@{/employee/register}" type="submit" class="btn" style="background-color: #4F8635;">社員情報登録</button>
				</h3>
				<div id="dataTable_wrapper" class="d-flex justify-content-between　dataTables_wrapper">
					<div id="dataTable_filter" class="dataTables_filter">
						<label>表示 
							<select name="dataTable_length" aria-controls="dataTable" class="">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select> 件
						</label> 
						<label>連絡日付:
							<input type="search" class="" placeholder="" aria-controls="dataTable">
						</label> 
						<label>承認:
							<input type="search" class="" placeholder="" aria-controls="dataTable">
						</label>
					</div>
					<form th:href="@{/employee}" action="#">
						<div class="table-responsive">
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>No</th>
										<th>名前</th>
										<th>電話番号</th>
										<th>メール</th>
										<th>入社日</th>
										<th>住所</th>
										<th>修正</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empInfo:${empList}">
										<td th:text="${EmpInfo.mail}"></td>
										<td th:text="${EmpInfo.name}"></td>
										<td th:text="${EmpInfo.phoneNo}"></td>
										<td th:text="${EmpInfo.hireDate}"></td>
										<td th:text="${EmpInfo.address}"></td>
										<td>
											<a> 
												<span th:href="@{/update/{mail}(id=${employee.mail})}" class="btn">編集</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
		
<!--         <div th:fragment='paginationbar'> -->
<!--             <ul class='pagination pagination-centered'> -->
<!--                 <li th:class="${page.firstPage}?'disabled':''" style="display:inline"> -->
<!--                     <span th:if='${page.firstPage}'>←先頭</span> -->
<!--                     <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←先頭</a> -->
<!--                 </li> -->
<!--                 <li th:class="${page.hasPreviousPage}? '' : 'disabled'" style="display:inline"> -->
<!--                     <span th:if='${not page.hasPreviousPage}'>«</span> -->
<!--                     <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>«</a> -->
<!--                 </li> -->


<!--                 <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline"> -->
<!--                     <span th:if='${item.current}' th:text='${item.number}'>1</span> -->
<!--                     <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'> -->
<!--                     <span th:text='${item.number}'>1</span> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline"> -->
<!--                     <span th:if='${not page.hasNextPage}'>»</span> -->
<!--                     <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'>»</a> -->
<!--                 </li> -->
<!--                 <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline"> -->
<!--                     <span th:if='${page.lastPage}'>末尾➝</span> -->
<!--                     <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>末尾➝</a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </div> -->
	</section>
</body>
</html>