<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Leave Apply List</title>
</head>
<body class="h-100">
	<section layout:fragment="content"
		class="container d-flex h-75 justify-content-center align-items-center">
		<div class="card h-90 w-90" style="background-color: #A3CE81;">
			<div class="card-body">
				<h3 class="card-title">Leave Apply List Leader</h3>
				<div id="dataTable_filter" class="dataTables_filter">
					<label>表示 <select name="dataTable_length"
						aria-controls="dataTable" class="">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
					</select> 件
					</label> <label>連絡日付: <input type="search" class="" placeholder=""
						aria-controls="dataTable">
					</label> <label>承認: <input type="search" class="" placeholder=""
						aria-controls="dataTable">
					</label>
					<button type="submit" class="btn btn-outline-success">検索</button>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">名前</th>
							<th scope="col">日付</th>
							<th scope="col">勤怠連絡</th>
							<th scope="col">種類</th>
							<th scope="col">承認</th>
							<th scope="col">現場連絡</th>
							<th scope="col">明細</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-success">
							<td>1</td>
							<td>Aさん</td>
							<td>2021/01/15</td>
							<td>有給連絡</td>
							<td>全体</td>
							<td>済み</td>
							<td>済み</td>
							<td><button type="submit" class="btn btn-primary">詳細</button></td>
						</tr>
						<tr class="table-warning">
							<td>2</td>
							<td>Bさん</td>
							<td>2021/01/15</td>
							<td>有給連絡</td>
							<td>全体</td>
							<td>未済</td>
							<td>済み</td>
							<td><button type="submit" class="btn btn-primary">詳細</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="btn-toolbar" role="toolbar"
				aria-label="Toolbar with button groups">
				<div class="btn-group mr-2" role="group" aria-label="First group">
					<button type="button" class="btn btn-secondary">1</button>
					<button type="button" class="btn btn-secondary">2</button>
					<button type="button" class="btn btn-secondary">3</button>
					<button type="button" class="btn btn-secondary">4</button>
				</div>
				<div class="btn-group mr-2" role="group" aria-label="Second group">
					<button type="button" class="btn btn-secondary">5</button>
					<button type="button" class="btn btn-secondary">6</button>
					<button type="button" class="btn btn-secondary">7</button>
				</div>
				<div class="btn-group" role="group" aria-label="Third group">
					<button type="button" class="btn btn-secondary">8</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>