<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Manage Leave</title>
</head>
<body class="h-100">
	<section layout:fragment="content"
		class="container d-flex justify-content-center align-items-center p-5">
		<div class="card h-90 w-90">
			<div class="card-body">
				<form class="from-inline my-2 my-lg-0" th:action="@{/leave/leader}"
					action="#">
					<div class="d-flex">
						<label>連絡日付: <input type="date" class="p-2 date mr-auto"
							name="leaveDate" id='leaveDate' autocomplete="off" /> <span><span
								class="fa fa-calendar-alt"> </span></span>
						</label> <span class="p-2"></span> <label>承認: <select
							name="leaveType" id="leaveType" class="p-2">
								<option
									th:each="approved:${T(com.ss.leave.entity.LeaveDetail.Confirm).values()}"
									th:value="${approved}" th:text="${approved}"
									selected="selected"></option>
						</select>
						</label>
						<button type="submit">検索</button>
					</div>
					<div class="table-responsive fixed-table-body"
						th:if="${leaveList != null && !leaveList.isEmpty()}">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">No</th>
									<th scope="col">日付</th>
									<th scope="col">勤怠連絡</th>
									<th scope="col">種類</th>
									<th scope="col">承認</th>
									<th scope="col">現場連絡</th>
									<th scope="col">明細</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="leaveInfo:${leaveList}">
									<td th:text="${leaveInfo.leaveId}"></td>
									<td th:text="${leaveInfo.leaveDate}"></td>
									<td th:text="${leaveInfo.leaveType}"></td>
									<td th:text="${leaveInfo.type}"></td>
									<td th:text="${leaveInfo.approved}"></td>
									<td th:text="${leaveInfo.approvedSiteContact}"></td>
									<td><a> <span
											th:href="@{/leave/update/{leaveInfo.leaveId}}" class="btn">編集</span>
									</a></td>
								</tr>
							</tbody>
						</table>
						<div class="btn-toolbar" th:fragment="pagination" role="toolbar">
							<div class="col-md-8">
								<nav aria-label="Pagination">
									<ul class="pagination justify-content-center">
										<li class="page-item btn-group mr-2"
											th:each="pageNumber : ${pageNumbers}"><a
											class="page-link" th:href="@{'/leave/allLeaves/' + ${pageNumber}}"
											th:text=${pageNumber}> </a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$(function() {
			$('#date').datepicker({
				format : 'yyyy/MM/dd'
			});
		});
	</script>
</body>
</html>
