<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Leave Apply</title>
</head>
<body class="h-100">
	<section layout:fragment="content"
		class="container d-flex h-100 justify-content-center align-items-center pt-5">
		<div class="card h-90">
			<div class="card-body">
				<form class="from-inline my-2 my-lg-0" th:action="@{/leave/member}"
					action="#">
					<div class="d-flex">
						<label>連絡日付: <input type="date" class="p-2 date mr-auto"
							name="leaveDate" id='leaveDate' autocomplete="off" /> <span><span
								class="fa fa-calendar-alt"> </span></span>
						</label> <span class="p-2"></span> <label>承認: <select
							name="leaveType" id="leaveType" class="p-2">
								<option
									th:each="approved:${T(com.ss.leave.entity.LeaveDetail.Confirm).values()}"
									th:value="${approved}" th:text="${approved}"
									selected="selected"></option>
						</select>
						</label>
						<button type="submit" class="btn p-1">検索</button>
						<button type="button" class="btn p-2 ml-auto" data-toggle="modal"
							data-target="#leaveApplyModal">休暇申込</button>
					</div>
					<div class="table-responsive"
						th:if="${leaveList != null && !leaveList.isEmpty()}">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">No</th>
									<th scope="col">日付</th>
									<th scope="col">勤怠連絡</th>
									<th scope="col">種類</th>
									<th scope="col">承認</th>
									<th scope="col">現場連絡</th>
									<th scope="col">明細</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="leaveInfo:${leaveList}">
									<td th:text="${leaveInfo.leaveId}"></td>
									<td th:text="${leaveInfo.leaveDate}"></td>
									<td th:text="${leaveInfo.leaveType}"></td>
									<td th:text="${leaveInfo.type}"></td>
									<td th:text="${leaveInfo.approved}"></td>
									<td th:text="${leaveInfo.approvedSiteContact}"></td>
									<td><a> <span
											th:href="@{/leave/update/{leaveInfo.leaveId}}" class="btn">編集</span>
									</a></td>
								</tr>
							</tbody>
						</table>
						<div class="btn-toolbar" th:fragment="pagination" role="toolbar">
							<div class="col-md-8">
								<nav aria-label="Pagination">
									<ul class="pagination justify-content-center">
										<li class="page-item btn-group mr-2"
											th:each="pageNumber : ${pageNumbers}"><a
											class="page-link"
											th:href="@{'/myLeavePage/' + ${pageNumber}}"
											th:text=${pageNumber}> </a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="leaveApplyModal">
			<div class="card-body">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title card-title">休暇申込み</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<form method="post" th:action="@{/leave/apply}" action="#">
								<div class="form-group row">
									<label for="leaveType" class="col-3">勤怠連絡 : </label> <select
										name="leaveType" id="leaveType" class="form-control col">
										<option
											th:each="leavetype:${T(com.ss.leave.entity.LeaveDetail.LeaveType).values()}"
											th:value="${leavetype}" th:text="${leavetype}"
											selected="selected"></option>
									</select>
								</div>
								<div class="form-group row">
									<label for="leaveDate" class="col-3"> 日付 : </label> <input
										type="date" class="p-2 date mr-auto" name="leaveDate"
										id='leaveDate' autocomplete="off" />
								</div>
								<div class="form-group row">
									<label for="type" class="col-3"> 種類 :</label><select
										name="type" id="type" class="form-control col">
										<option
											th:each="type : ${T(com.ss.leave.entity.LeaveDetail.Type).values()}"
											th:value="${type}" th:text="${type}" selected="selected"></option>
									</select>
								</div>
								<div class="form-group row">
									<label for="reason" class="col-3"> 理由 : </label>
									<textarea name="reason" id="reason" class="form-control col"
										rows="3"></textarea>
								</div>
								<div class="form-group row">
									<label for="approvedSiteContact" class="col-3"> 現場連絡 :
										<input name="approvedSiteContact" type="checkbox" value=""
										checked="checked">
									</label>
								</div>
								<div class="form-group row">
									<button type="submit" class="btn col-2 mr-auto">申込む</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/moment/moment.min.js}"></script>
	<script
		th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>
	<script>
		$('#leaveDate').datetimepicker({
			format : 'YYYY/MM/DD'
		});
	</script>
</body>
</html>