<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/leave-layout}">
<head>
<meta charset="UTF-8">
<title>Leave Apply List</title>
</head>
<body class="h-100">
	<section layout:fragment="content" class="container d-flex h-75 justify-content-center align-items-center">
		<div class="card w-50" style="background-color: #A3CE81;">
			<div class="card-body">
				<h3 class="card-title">Leave Apply List</h3>

			</div>
		</div>
	</section>
</body>
</html>