@charset "UTF-8";

.btn{
	background-color: #4F8635;
	height: 38px;
}

body {
	background-image: url("fbg.jpeg");
	opacity: 0.7;
}


section{
	width: 100%;
}

.card {
	background-color: #A3CE81;
	width: 100%;
}

div .modal-content {
	background-color: #A3CE81;
}

button {
	background-color: #4F8635;
	height: 40px;
}
